<section id="search-employee" class="container">
  <form [formGroup]="noLaboralDaysPresenter.form" class="row g-3 align-items-center">
    <!-- Squad -->
    <!--<div class="col-md-4">
      <label for="squad" class="form-label">Squad</label>
      <select
        class="form-select"
        id="squad"
        formControlName="squad"
        nameParameter="squads"
        nttSelect
      >
      </select>
    </div>-->

    <!-- LT -->
    <!--<div class="col-md-4">
      <label for="lt" class="form-label">LT</label>
      <select
        class="form-select"
        id="lt"
        formControlName="lt"
        nameParameter="technicalLeaders"
        nttSelect>
      </select>
    </div>-->

    <!-- Scrum Master -->
    <div class="col-md-4">
      <label for="scrumMaster" class="form-label">Scrum Master</label>
      <select
        class="form-select"
        id="scrumMaster"
        formControlName="scrumMaster"
        nameParameter="scrumMasters"
        nttSelect
      >
      </select>
    </div>
    <!-- Fecha de Inicio -->
    <div class="col-md-4">
      <label for="startDate" class="form-label">Fecha de Inicio</label>
      <input type="date" class="form-control" id="startDate" formControlName="startDate" />
    </div>

    <!-- Fecha de Fin -->
    <div class="col-md-4">
      <label for="endDate" class="form-label">Fecha de Fin</label>
      <input type="date" class="form-control" id="endDate" formControlName="endDate" />
    </div>

    <!-- Botón de envío -->
    <div class="col-md-12">
      <div class="d-flex flex-row justify-content-end">
        <button type="submit" class="btn btn-primary w-25" [disabled]="noLaboralDaysPresenter.form.invalid">Buscar</button>
      </div>
    </div>
  </form>

</section>
<section id="table-employee" class="container-fluid mt-5" *ngIf="dataTable">
  <ntt-data-table-complex
  [dataTable]="dataTable"
  ></ntt-data-table-complex>
</section>

