<section class="container-fluid" *ngIf="dataTable.body; else no_table_data">
  <div class="d-flex flex-row justify-content-end my-3">
    <button class="btn btn-success" (click)="onExportToExcelFile()">Exportar a Excel</button>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered" id="table-complex">
      <thead class="table-dark">
      <tr>
        <th *ngFor="let header of dataTable.headers">
          {{header.name}}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of dataTable.body">
        <td *ngFor="let header of dataTable.headers">
          {{row[header.item]}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</section>
<ng-template #no_table_data>
  <section class="container-fluid">
    <div class="d-flex flex-row justify-content-center">
      <h2>No existen datos en la tabla</h2>
    </div>

  </section>
</ng-template>
